{% extends "passes/base.html" %}
{% block title %} Your passes {% endblock %}

{% block main %}
	<main role="main" class="inner cover">
	<center>
	<h1 class="cover-heading">The bank of innovation.</h1>
	<br/>
	<p class="lead">
	<h4>Join the most innovating bank in the world</h4>
	<a href="/signup/" class="btn btn-lg btn-secondary">Join</a>
	</center>
	</p>
	<h3>Our Latest letchnologies</h3>
	<hr/>
	<div class="row">
		<div class="col-4">
			<div class="card bg-light mb-3" style="max-width: 18rem; color:black;">
				<div class="card-header">Transactions</div>
				<div class="card-body">
					<h5 class="card-title">Fast-transaction<small>&copy;</small></h5>
					<p class="card-text">
					Stay ahead of your competitors with our new Fast-transaction&copy; technology.
					Thanks to the new 0RTT feature of TLS 1.3, youre transactions will be the fastest ever.
					</p>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card bg-light mb-3" style="max-width: 18rem; color:black;">
				<div class="card-header">Privacy & Security</div>
				<div class="card-body">
					<h5 class="card-title">ZeroPass<small>&reg;</small> Password Manager</h5>
					<p class="card-text">
					If you want to keep you accounts' password safe, there is no better place than our ZeroPass&copy; Password Manager.
					A simple offline password manager, available now!
					</p>
				</div>
			</div>
		</div>
	</div>
	</main>

	<footer class="mastfoot mt-auto">
	</footer>
{% endblock %}
