{% extends "passes/base.html" %}
{% block title %}Reveal pass{% endblock %}

{% block main %}
<main role="main" class="inner cover">

<h2>
	<a href="/passes"><i class="material-icons">arrow_back</i></a>
	Reveal pass
</h2>
{% if pass is not None %}
<p>
Congratulations! The pass is, <b>{{ pass }}</b>
</p>
{% else %}
<p>
Something weent wrong ... Maybe you don't have enough funds to buy the pass <em>yet</em>
</p>
{% endif %}
</main>
<footer class="mastfoot mt-auto">
</footer>
</div>
{% endblock %}
